
<table class="table table-hover">

<thead>
    <tr>
        <th>FullName</th>

        <th>EmpCode</th>
        <th>Position</th>
        <th>Office</th>
        <th  class="text-center">Action</th>
    </tr>
</thead>

    <tr *ngFor="let emp of employeeService.list">
      <td (click)="populateForm(emp)">{{emp.FirstName}} {{emp.LastName}}</td>
      <td (click)="populateForm(emp)">{{emp.EmpCode}}</td>
      <td (click)="populateForm(emp)">{{emp.Position}}</td>
      <td (click)="populateForm(emp)">{{emp.Office}}</td>

      <!-- <td><button  class="btn btn-sm btn-secondary" ><i class="bi bi-pencil-square"></i> Update</button></td>     -->
      <td><button (click)="onDelete(emp.EmployeeId)" class="btn btn-sm btn-danger" ><i class="bi bi-trash-fill"></i> Delete</button></td>
    </tr>
  </table> 